<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <mat-form-field *ngIf="card.id === 1" class="picker-card">
              <input matInput [matDatepicker]="picker" placeholder="Seleccione una Fecha" (dateChange)="addEvent('change', $event)"
                readonly>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <p-toast [style]="{marginTop: '80px'}"></p-toast>
          <p-chart *ngIf="card.charts && card.id === 1" #lineCount type="{{ card.type }}" [data]="card.content" width="{{ card.width }}"
            height="{{ card.height }}" [options]="options" (onDataSelect)="selectData($event, card1)" ></p-chart>
          <p-chart *ngIf="card.charts && card.id !== 1" type="{{ card.type }}" [data]="card.content" width="{{ card.width }}"
            height="{{ card.height }}" [options]="options" (onDataSelect)="selectData($event, card2)" ></p-chart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>