.full-width-table {
  width: 100%;
}

.grid-container {
  margin: 20px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.fa-file-pdf {
  color: #f44336;
}

@media (max-width: 599px) {
  .table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

@media (max-width: 767.98px) {
  .table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

.icons-blue {
  color: #3f51b5;
}

.icons-red {
  color: #f44336;
}

.button-icon-pdf {
  width: 0 !important;
}